In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt

# LSFF: combine 01_gen_cleaned_rows.output() with 02b_first_pass_fill_data_gaps.output()

In [2]:
data_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/population_coverage_data_3_14_2021.csv'
df = pd.read_csv(data_path)

In [3]:
df.head()

,location_name,vehicle,nutrient,value_description,value_mean,value_025_percentile,value_975_percentile,is_estimate,sub_population,source_year
0,Angola,maize flour,folic acid,percent of vehicle that is fortified,0.0,NaN,NaN,0.0,total population,2018
1,Angola,maize flour,iron,percent of vehicle that is fortified,0.0,NaN,NaN,0.0,total population,2018
2,Angola,maize flour,vitamin b1,percent of vehicle that is fortified,0.0,NaN,NaN,0.0,total population,2018
3,Angola,maize flour,vitamin b12,percent of vehicle that is fortified,0.0,NaN,NaN,0.0,total population,2018
4,Angola,maize flour,zinc,percent of vehicle that is fortified,0.0,NaN,NaN,0.0,total population,2018

In [4]:
estimates_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/lsff_data_estimated_03_11_2021.csv'
est = pd.read_csv(estimates_path)

In [5]:
est_val_map = {'A': 'percent of population eating vehicle',
 'B': 'percent of population eating industrially produced vehicle',
 'C': 'percent of population eating fortified vehicle',
 'D': 'percent of vehicle that is industrially produced',
 'E': 'percent of vehicle that is fortified',
 'F': 'percent of market covered by fortified product'}

In [6]:
est.head()

,location_name,vehicle,nutrient,standard,A,B,B_estimate,C,C_estimate
0,Angola,wheat flour,iron,Unknown,NaN,NaN,NaN,NaN,NaN
1,Angola,wheat flour,zinc,Unknown,NaN,NaN,NaN,NaN,NaN
2,Angola,wheat flour,folic acid,Unknown,NaN,NaN,NaN,NaN,NaN
3,Angola,wheat flour,vitamin b12,Unknown,NaN,NaN,NaN,NaN,NaN
4,Angola,wheat flour,vitamin b1,Unknown,NaN,NaN,NaN,NaN,NaN

In [7]:
est.dropna()

,location_name,vehicle,nutrient,standard,A,B,B_estimate,C,C_estimate
12,Bangladesh,wheat flour,iron,Voluntary,62.35,38.241333,1.0,0.155875,1.0
13,Bangladesh,wheat flour,zinc,Voluntary,62.35,38.241333,1.0,0.155875,1.0
14,Bangladesh,wheat flour,folic acid,Voluntary,62.35,38.241333,1.0,0.155875,1.0
15,Bangladesh,wheat flour,vitamin b12,Voluntary,62.35,38.241333,1.0,0.155875,1.0
16,Bangladesh,wheat flour,vitamin b1,Voluntary,62.35,38.241333,1.0,0.155875,1.0
...,...,...,...,...,...,...,...,...,...
318,Vietnam,wheat flour,folic acid,Mandatory,21.93,21.930000,1.0,0.000000,1.0
319,Vietnam,wheat flour,vitamin b12,Mandatory,21.93,21.930000,1.0,0.000000,1.0
320,Vietnam,wheat flour,vitamin a,Mandatory,21.93,21.930000,1.0,0.000000,1.0
321,Vietnam,wheat flour,vitamin b1,Unknown,21.93,21.930000,1.0,0.000000,1.0
323,Vietnam,oil,vitamin d,Unknown,54.50,90.000000,0.0,0.000000,1.0

In [8]:
est.standard.unique()

array(['Unknown', 'Voluntary', 'Mandatory', 'None',
       'Mandatory in Punjab only', nan], dtype=object)

In [9]:
est = est[(est.B_estimate==1) | (est.C_estimate==1)]

In [10]:
#keep estimates only; column A is all real data
est = pd.melt(est, id_vars = ['location_name','vehicle','nutrient','standard'], value_vars = ['B','C'],
       var_name = 'value_description', value_name = 'value_mean')

In [11]:
est.value_description = est.value_description.map(est_val_map)

In [14]:
est['is_estimate'] = 1

In [16]:
df = df.append(est, sort = False)

In [20]:
df.head()

,location_name,vehicle,nutrient,value_description,value_mean,value_025_percentile,value_975_percentile,is_estimate,sub_population,source_year,standard
0,Angola,maize flour,folic acid,percent of vehicle that is fortified,0.0,NaN,NaN,0.0,total population,2018,NaN
1,Angola,maize flour,iron,percent of vehicle that is fortified,0.0,NaN,NaN,0.0,total population,2018,NaN
2,Angola,maize flour,vitamin b1,percent of vehicle that is fortified,0.0,NaN,NaN,0.0,total population,2018,NaN
3,Angola,maize flour,vitamin b12,percent of vehicle that is fortified,0.0,NaN,NaN,0.0,total population,2018,NaN
4,Angola,maize flour,zinc,percent of vehicle that is fortified,0.0,NaN,NaN,0.0,total population,2018,NaN

In [19]:
save_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/population_coverage_data_and_estimates_3_14_2021.csv'
df.to_csv(save_path, index = False)