In [1]:
import pandas as pd, numpy as np

In [2]:
temp_save_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/427_lsff_input_coverage_data.csv'
save_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/lsff_input_coverage_data.csv'

In [3]:
df = pd.read_csv(save_path)

In [4]:
alt = pd.read_csv(temp_save_path)

In [5]:
df.head()

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile,u5_applicable,wra_applicable
0,179,Ethiopia,NaN,maize flour,percent of population eating vehicle,na,59.263848,24.950317,93.577380,True,True
1,179,Ethiopia,NaN,maize flour,percent of population eating industrially prod...,na,27.167514,11.437632,42.897396,True,True
2,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,folic acid,0.000000,0.000000,0.000000,True,True
3,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,iron,0.000000,0.000000,0.000000,True,True
4,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,vitamin a,0.000000,0.000000,0.000000,True,True

In [6]:
alt.head()

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile,u5_applicable,wra_applicable
0,179,Ethiopia,NaN,maize flour,percent of population eating vehicle,na,59.263848,24.950317,93.577380,True,True
1,179,Ethiopia,NaN,maize flour,percent of population eating industrially prod...,na,27.167514,11.437632,42.897396,True,True
2,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,folic acid,0.000000,0.000000,0.000000,True,True
3,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,iron,0.000000,0.000000,0.000000,True,True
4,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,vitamin a,0.000000,0.000000,0.000000,True,True

In [8]:
idcols = ['location_id', 'location_name', 'sub_population', 'vehicle',
       'value_description', 'nutrient']

In [10]:
compare = df.merge(alt, on = idcols, how = 'left')

In [12]:
compare.loc[
    np.abs(compare.value_mean_x - compare.value_mean_y) > .1
]

Empty DataFrame
Columns: [location_id, location_name, sub_population, vehicle, value_description, nutrient, value_mean_x, value_025_percentile_x, value_975_percentile_x, u5_applicable_x, wra_applicable_x, value_mean_y, value_025_percentile_y, value_975_percentile_y, u5_applicable_y, wra_applicable_y]
Index: []

In [13]:
compare.loc[
    np.abs(compare.value_025_percentile_x - compare.value_025_percentile_y) > .1
]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean_x,value_025_percentile_x,value_975_percentile_x,u5_applicable_x,wra_applicable_x,value_mean_y,value_025_percentile_y,value_975_percentile_y,u5_applicable_y,wra_applicable_y
113,201,Burkina Faso,total population,oil,percent of population eating fortified vehicle,vitamin a,51.083142,4.353188,93.493338,True,True,51.014713,3.959244,93.388722,True,True

In [14]:
compare.loc[
    np.abs(compare.value_975_percentile_x - compare.value_975_percentile_y) > .1
]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean_x,value_025_percentile_x,value_975_percentile_x,u5_applicable_x,wra_applicable_x,value_mean_y,value_025_percentile_y,value_975_percentile_y,u5_applicable_y,wra_applicable_y
113,201,Burkina Faso,total population,oil,percent of population eating fortified vehicle,vitamin a,51.083142,4.353188,93.493338,True,True,51.014713,3.959244,93.388722,True,True
134,180,Kenya,NaN,wheat flour,percent of population eating fortified vehicle,vitamin a,27.395570,0.000000,53.020323,True,True,27.415019,0.000000,53.124033,True,True